*.o
*.exe
Makefile
Makefile.Debug
Makefile.Release
v800_downloader.pro.user
debug/tmp/ui_v800main.h
debug/tmp/moc_v800usb.cpp
debug/tmp/moc_v800main.cpp
release/tmp/moc_native_usb.cpp
release/tmp/moc_v800main.cpp
release/tmp/moc_v800usb.cpp
release/tmp/ui_v800main.h
.qmake.stash
debug/tmp/moc_native_usb.cpp
debug/v800_downloader.app/Contents/Info.plist
debug/v800_downloader.app/Contents/MacOS/v800_downloader
debug/v800_downloader.app/Contents/PkgInfo
debug/v800_downloader.app/Contents/Resources/empty.lproj
release/v800_downloader.app/Contents/Info.plist
release/v800_downloader.app/Contents/MacOS/v800_downloader
release/v800_downloader.app/Contents/PkgInfo
release/v800_downloader.app/Contents/Resources/empty.lproj
debug/tmp/moc_v800fs.cpp
debug/tmp/ui_v800fs.h
release/tmp/moc_v800fs.cpp
release/tmp/ui_v800fs.h
release/tmp/moc_message.cpp
release/tmp/moc_trainingsession.cpp
release/tmp/moc_v800export.cpp
release/v800_downloader.app/Contents/Resources/v800_downloader.icns
debug/tmp/moc_message.cpp
debug/tmp/moc_trainingsession.cpp
debug/tmp/moc_v800export.cpp
